language: emacs-lisp

env:
  - EVM_EMACS=emacs-25.3-travis
  - EVM_EMACS=emacs-26.2-travis
  - EVM_EMACS=emacs-git-snapshot-travis

before_install:
  - git clone https://github.com/rejeep/evm.git $HOME/.evm
  - export PATH=$HOME/.evm/bin:$PATH

  - evm config path /tmp
  - evm install $EVM_EMACS --use --skip

script:
  - make test