[Desktop Entry]
Type=Application
Version=1.0
Name=Proof General
GenericName=Theorem proving environment
Comment=Organise your proofs!
Icon=proofgeneral.png
TryExec=proofgeneral
Exec=proofgeneral %F
Terminal=false
Categories=Application;IDE;Development;TextEditor;Math
StartupWMClass=Emacs
